body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1110px;
    margin:0 auto;
    margin-bottom: 120px;
}
h1,h2,h3,h4{
    font-weight: 700;
    margin:0 auto;
}
h1{
    font-size: 50px;
}
p{
    font-weight: 500;
    font-size: 18px;
    margin:0 auto;
}
.play{
    width: 423px;
    margin:30px 0px;
}
.pn{
    font-size: 18px;
    text-decoration:none;
    background: #FF6861;
    border-radius: 100px;
    display:block;
    padding: 22px 70px;
    width: 227px;
    color:white;
    font-weight: 500;
}
.pn:hover{
background: #ffd590;
}
.main-text{
    width: 465px;
}
.main-all{
    display: flex;
    align-items: center;
    gap: 176px;
}
.logo{
    margin: 60px 0px 82px;
}
.two-section{
    font-size: 40px;
    text-align: center;
    margin-bottom: 70px;
}
h3{
    font-size: 30px;
}
.offer{
    display:flex;
    align-items: center;
}
.boots{
    margin-right: 34px;
}
.duc{
    margin-right: 34px;
}
.win{
    margin-right: 34px;
}
.text-feature{
    margin-top: 11px;
}
.feature-block{
    gap: 41px;
    display: flex;
    flex-direction: column;
    width: 720px;
    margin: 0 auto;
}
.three-section{
    font-size: 40px;
}
.practic-block{
    display: flex;
    align-items: center;
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    justify-content: space-between;
    border-radius: 60px;
    padding: 76px 125px 75px 122px;
    width: 1110px;
}
.text-practic{
    width: 475px;
}
.dont{
    width: 371px;
    margin: 24px 0px;
}
